// Common styles of the project

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    font-family: 'proxima';
}


.page {
    // Стили для body
}

.page__wrapper {
    min-height: 100%;
}


* html .page__wrapper {
    height: 100%;
}

.page__footer {
    background-image: url('%=static=%/general/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1b0135;
}

.page__header {
    box-shadow: 0 0 53px rgba(0,0,0,0.55);
    background-color: #1b0135;
}

.page__logo {

}

.link {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
}

.input, .textarea{
    border-radius: 22px;
    background-color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
    color: #5e5864;
    padding: 12px 10px 12px 25px;
    border: 0;
    resize: none;
}

.button {
    border-radius: 22px;
    box-shadow: 0 0 6px rgba(28,196,238,0.6);
    background-color: rgba(28, 196, 238, 0);
    border: 1px solid #1bc3ed;
    padding: 12px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
    transition: background-color 400ms;

    &:hover {
        background-color: rgba(28, 196, 238, 0.8);
    }
}
