.auth-links {
    &__item {
        display: inline-block;
        vert-align: top;

        &:first-of-type {
            padding-right: 10px;
        }
    }

    &__link {
        font-size: 15px;
        letter-spacing: 1px;
        color: #1cc4ee;
        font-weight: 700;
    }
}

.header__login .auth-links {
    padding-left: 15px;
}

.footer__navigation .auth-links {
    align-self: center;
}
