<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="footer">
                <div class="footer__title">У вас остались вопросы?</div>
                <div class="footer__contacts row">
                    <div class="col-md-3">
                        {{> contacts/contactsFoot}}
                    </div>
                    <div class="col-md-4">
                        {{> feedback/feedback}}
                    </div>
                    <div class="col-md-5">
                        {{> signupPrize/signupPrize}}
                    </div>
                </div>
                <div class="footer__navigation">
                    <div class="footer__logo">
                        <img src="%=static=%/img/general/logo.png" alt="">
                    </div>
                    <div class="footer__menu main-menu">
                        {{> mainMenu/mainMenu}}
                    </div>
                    {{> authLinks/authLinks}}
                </div>
                <div class="footer__copyrights">
                    <div class="footer-copyrights">
                        Сайт разработан командой <a href="#" class="footer-copyrights__link link">Teamwork</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
