.footer-copyrights {
    display: inline-block;
    font-size: 15px;
    background-color: #110025;
    padding: 10px 10px 15px 10px;

    &__link {
        color: #1cc4ee;
    }
}

.footer {
    color: #fff;
    padding-top: 75px;

    &__title {
        color: #fff;
        font-size: 40px;
        letter-spacing: 3px;
        font-weight: 700;
        padding-bottom: 50px;
    }

    &__navigation {
        display: flex;
        padding-top: 50px;
    }

    &__menu.main-menu {
        align-self: center;
        padding-left: 30px;
        padding-right: 40px;
    }

    &__copyrights {
        text-align: center;
        padding-top: 10px;
        font-weight: 700;
    }
}
