.social-links {

    &__item {
        display: inline-block;
        vertical-align: top;
        padding-right: 5px;

        &:last-of-type {
            padding-right: 0;
        }
    }

    &__link {
        img {
            width: 30px;
        }
    }
}
