.main-menu {
    padding-right: 10px;
    &__list {
        display: flex;
    }

    &__item {
        padding-right: 12px;

        &:last-of-type {
            padding-right: 0;
        }
    }

    &__link {
        font-weight: 300;
        padding-bottom: 1px;
        border-bottom: 1px solid transparent;
        transition: color 400ms, border-bottom 400ms;

        &:hover {
            color: #00c7f7;
            border-bottom: 1px solid #00beee;
        }
    }
}
