.main-menu {
    padding-right: 10px;
    &__list {
        display: flex;
    }

    &__item {
        padding-right: 12px;

        &:last-of-type {
            padding-right: 0;
        }
    }

    &__link {
        font-weight: 300;
        padding-bottom: 1px;
        border-bottom: 1px solid transparent;
        transition: color 400ms, border-bottom 400ms;

        &:hover {
            color: #00c7f7;
            border-bottom: 1px solid #00beee;
        }
    }
}

@media (max-width: 1200px) {
    .main-menu {
        padding-right: 35px;
        margin-left: -15px;

        &__item {
            padding-right: 5px;
        }
    }
}

@media (max-width: 992px) {
    .main-menu {
        margin: 0;
        padding: 20px 5px 10px 25px;

        &__list {
            width: 100%;
            flex-wrap: wrap;
        }

        &__item {
            width: 100%;
            padding: 2px 0;
            margin-bottom: 5px;
        }

        &__link {
            display: block;
            border: 0;
            &:hover {
                border: 0;
            }
        }
    }
}
