.signup-prize {
    display: flex;

    &__title {
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 700;
    }

    &__actions {
        max-width: 250px;
        text-align: center;
    }
}
