.signup-prize {
    display: flex;

    &__title {
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 700;
        padding-bottom: 20px;
    }

    &__actions {
        max-width: 250px;
        text-align: center;
        align-self: center;
    }

    &__button {
        box-shadow: 0 0 13px rgba(28,196,238,0.6);
        background-color: rgba(28, 196, 238, 1);
        width: 100%;
        transition: background-color 400ms;

        &:hover {
            background-color: rgba(28, 196, 238, 0.8);
        }
    }

    &__coin {
        position: relative;
        padding-left: 15px;
        &:before, &:after {
            content: '';
            position: absolute;
            left: 15px;
            background: url('%=static=%/general/arrow_right.png') no-repeat;
            padding: 15px;
            top: 50px;
        }

        &:after {
            left: 23px;
        }
    }
}

.footer__contacts .signup-prize {
    padding-left: 15px;
}

@media (max-width: 1200px) {
    .signup-prize {
        &__title {
            font-size: 15px;
        }

        &__actions {
            max-width: 205px;
        }

        &__button {
            font-size: 15px;
        }

        &__coin {
            img {
                max-width: 135px;
            }
        }
    }
}

@media (max-width: 992px) {
    .signup-prize {
        justify-content: center;
        padding-top: 40px;
    }
}

@media (max-width: 768px) {
    .signup-prize {
        &__coin {
            display: none;
        }
    }
}
