.header {
    display: flex;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 30px;

    &__menu {
        align-self: center;
        padding-left: 25px;
        padding-top: 60px;
    }

    &__social {
        align-self: center;
        padding-right: 40px;
        padding-left: 12px;
        padding-top: 60px;
    }

    &__login {
        padding-top: 30px;
    }
}
