<ul class="paymethods__list">
    <li class="paymethods__item">
        <img src="%=static=%/img/general/paymethods/1.jpg">
    </li>
    <li class="paymethods__item">
        <img src="%=static=%/img/general/paymethods/2.jpg">
    </li>
    <li class="paymethods__item">
        <img src="%=static=%/img/general/paymethods/3.jpg">
    </li>
    <li class="paymethods__item">
        <img src="%=static=%/img/general/paymethods/4.jpg">
    </li>
    <li class="paymethods__item">
        <img src="%=static=%/img/general/paymethods/5.jpg">
    </li>
    <li class="paymethods__item">
        <img src="%=static=%/img/general/paymethods/6.jpg">
    </li>
    <li class="paymethods__item">
        <img src="%=static=%/img/general/paymethods/7.jpg">
    </li>
</ul>
