<div class="contacts">
    <div class="contacts__title">Позвоните нам:</div>
    <div class="contacts__information contacts-information">
        <div class="contacts-information__number">8-800-100-97-54</div>
    </div>
    <div class="contacts__description">(Бесплатная горячая линяя)</div>
</div>
<div class="contacts">
    <div class="contacts__title">Напишите нам:</div>
    <div class="contacts__information contacts-information">
        <div class="contacts-information__number">info@oofj.com</div>
    </div>
</div>
<div class="contacts">
    <div class="contacts__title">Мы в соц. сетях:</div>
    <div class="contacts__information contacts-information">
        {{> socialLinks/socialLinks}}
    </div>
</div>
