<ul class="faq">
    <li class="faq__item">
        <div class="faq__title">Как пополнить баланс?</div>
        <div class="faq__text">
            Для пополнения баланса перейдите во вкладку “Мои монеты”
            в личном кабинете и нажмите кнопку “Купить монеты”, выберите
            подходящий сундук и оплатите его любым удобным способом
        </div>
    </li>

    <li class="faq__item">
        <div class="faq__title">Как пополнить баланс?</div>
        <div class="faq__text">
            Для пополнения баланса перейдите во вкладку “Мои монеты”
            в личном кабинете и нажмите кнопку “Купить монеты”, выберите
            подходящий сундук и оплатите его любым удобным способом
        </div>
    </li>

    <li class="faq__item">
        <div class="faq__title">Как пополнить баланс?</div>
        <div class="faq__text">
            Для пополнения баланса перейдите во вкладку “Мои монеты”
            в личном кабинете и нажмите кнопку “Купить монеты”, выберите
            подходящий сундук и оплатите его любым удобным способом
        </div>
    </li>

    <li class="faq__item">
        <div class="faq__title">Как пополнить баланс?</div>
        <div class="faq__text">
            Для пополнения баланса перейдите во вкладку “Мои монеты”
            в личном кабинете и нажмите кнопку “Купить монеты”, выберите
            подходящий сундук и оплатите его любым удобным способом
        </div>
    </li>
</ul>
