.feedback {
    border-radius: 10px;
    border: 4px solid #1bc3ed;
    padding: 25px 45px;

    &__title {
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: 700;
        border-bottom: 1px solid #1cc3ed;
        padding-bottom: 8px;
    }
}

.feedback-buttons {
    padding-top: 12px;
    &__submit {
        width: 100%;
    }
}

.feedback-fields {
    padding-top: 15px;

    &__item {
        padding: 5px 0;
    }

    &__input {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .feedback {
        &__title {
            font-size: 14px;
        }
    }
}

@media (max-width: 992px) {
    .feedback {
        margin-top: 50px;

        &__title {
            font-size: 20px;
        }
    }
}
