<div class="feedback">
    <div class="feedback__title">Задайте свой вопрос:</div>
    <ul class="feedback-fields">
        <li class="feedback-fields__item">
            <input type="text" placeholder="Имя:" class="input feedback-fields__input">
        </li>
        <li class="feedback-fields__item">
            <input type="email" placeholder="Почта:" class="input feedback-fields__input">
        </li>
        <li class="feedback-fields__item">
            <textarea class="textarea feedback-fields__input" placeholder="Ваш вопрос:"></textarea>
        </li>
    </ul>
    <div class="feedback-buttons">
        <button class="button feedback-buttons__submit">Отпарвить</button>
    </div>
</div>
